// .app{
//     width:100%;
//     min-height:100vh;
//     display:flex;
//     align-items: center;
//     padding: 20px;
//     flex-direction: column;
//     gap:20px;
//     background:rgba(0, 64, 255, 0.071);
// }
// .todos{
//     width:600px;
//     max-width:100%;
   
// }
// .todo{
//     border-top:3px solid rgb(73, 93, 143);
//     margin-top: 10px;
//     width:100%;
//     background:white;
//     padding:10px;
//     border-radius: 10px;
//     box-shadow:0 3px 5px rgba(0, 0, 0, 0.18);
// }
// .todo h2{
//     text-align: center;
//     margin:0 auto;
//     border-bottom:1px solid rgb(235, 235, 235);


// }
// p{
//     padding:10px;
// }

// .new{
//     background:white;
//     padding:10px;
//     border-radius: 10px;
//     box-shadow:0 3px 5px rgba(0, 0, 0, 0.18);
//     width:600px;
//     max-width:100%;
//     display: flex;
//     flex-direction: column;
//     gap:10px;
    
// }
// textarea,input,button{
//     border: none;
//     outline: none;
//     padding:10px;
// }
// input{
//     border-bottom:1px solid rgb(235, 235, 235);

//     font-size:22px;
// }
// textarea{
//     resize: vertical;
//     min-height:100px;
//     width:100%;
//     border-bottom:1px solid rgb(235, 235, 235);

// }
// button{
//     max-width:160px;
//     background:rgb(255, 255, 255);
//     padding: 10px 30px;
//     border-radius: 30px;
//     border-bottom: 0;
//     transition:0.1s ease all;
//     background: rgb(73, 93, 143);
//     color:white;
// }
// button:hover{
//     background:white;
//     color:gray;
//     box-shadow:0 0 1px 1px rgb(73, 93, 143);
// }
// button:active{
//     transform: scale(0.9);
// }
// .buttons{
//     display: flex;
//     margin-top:20px;
//     justify-content: left;
//     width:100%;
// }
// .buttons button{
//     margin:0 5px;
// }


.app{
    padding:20px;
    width:100%;
    min-height:100vh;
    background-color:rgb(44, 46, 46);
    display: flex;
    flex-direction: column;
    form{
        padding:40px;
        flex:0.4;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap:10px;
        align-items: center;
        background:rgba(38, 37, 37, 0.207);
        border:  2px solid rgb(116, 213, 169);
        border-radius: 5px;
        input{
            color-scheme: dark;
            padding:10px 20px;
            outline:none;
            border:none;
            box-shadow: 0 5px 7px rgba(0, 0, 0, 0.238);
            border-radius: 5px;
            font-size:24px;
            min-width:80%;
            &:focus{
                box-shadow: 0 0 0 2px rgb(116, 213, 169);
            }
        }
        button{
            color-scheme: dark;
            padding:10px 50px;
            outline:none;
            border:none;
            box-shadow: 0 5px 7px rgba(0, 0, 0, 0.238);
            border-radius: 35px;
            font-size:20px;
            background:rgb(59, 58, 58);
            transition:0.1s ease all;
            &:active{
                transform: scale(0.9);
            }

        }
    }
    .questions{
        
        flex:0.6;
        padding:30px;
        display:flex;
        flex-wrap: wrap;
        gap:25px;
        justify-content: center;
        .que{
            flex-grow:1;
            border:2px solid rgb(87, 157, 185);
            position: relative;
            background:rgba(255, 255, 255, 0.077);
            padding:10px 20px;
            border-radius: 5px;
            box-shadow:0 3px 5px rgba(0, 0, 0, 0.275);
            transition: 0.3s ease all;;
            &:hover{
                transform: scale(1.05);
                z-index:100;
            }
            .num{
                position: absolute;
                top:-20px;
                left:-15px;
                width:40px;
                height:40px;
                display: grid;
                place-items: center;
                background:rgb(87, 157, 185);
                box-shadow:0 3px 5px rgba(0, 0, 0, 0.275);
                padding:10px;
                color:white;
                border-radius: 5px;
            }
            h1{
               color: rgb(87, 157, 185);
            }
            a{
                color:rgb(59, 220, 153);
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
            .tags{
                margin-top:10px;
                display:flex;
                flex-wrap: wrap;
                gap:10px;
                span{
                    color:rgb(107, 179, 207);
                    border:2px solid rgb(0, 255, 242);
                    padding:5px 10px;
                    border-radius: 4px;
                    transition: 0.1s ease all;;
                    &:hover{
                        background:rgb(0, 255, 242);
                        color:rgb(35, 34, 34);
                    }
                }
            }
            .solved,.unsolved{
                margin-top:10px;
                background:rgb(52, 191, 96);
                width:100px;
                text-align: center;
                color:white;
                border-radius: 2px;
                padding: 5px 10px;
                cursor: pointer;
            }
            .unsolved{
                background:rgb(240, 84, 84);
            }
        }
    }
}
@media (max-width:768px){
    input,button{
        font-size:14px;
    }
}
